.jumbotron{
    /* background-color: olivedrab; */
    background-color: #007473;
}

.container{
    width: 100%;
}



.titulo{
  margin-top: 40px; 
  color: cornsilk; 
  font-family: 'Roboto Regular', arial; 
  font-size: 50px; 
}


.cuerpo{
  background-color: #BBBFC8;
  border-radius: 10px;
}

.card-text{
  height: 30%;
  
}

.card-title{
  height: 20%;
}

.btn-admin{
  margin-top: 20%;
  width: 100%;
}


.card{
    margin-top: 40px;
    align-items: center;
    position: relative;
    align-content: center;
    width: 100%;
    padding: 20px 40px 20px 20px;
    background-color: #BBBFC8;
    height: 300px;
}


address{
    text-align: center;
    position: relative;
}

.text-footer{
  margin-top: 30px;
  align-content: center;
}



.footer-low{
    background-color: #0a351c;
    width: 100%;
    color: white;
    position: absolute;
    left: 0;
    margin-top: 100px;
    padding:45px 0 20px;
    
}

.card-subtitle{
    margin-top: 10px;
  }